* {
    padding: 0px;
    margin: 0px;
}

body {
    padding-right: 78px;
}

#nav {
    display: flex;
    justify-content: space-between;
}

#nav h1 {
    margin: 0px 50px;
    color: #636060;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 31px;
    padding-top: 33px;
    display: inline-block;
    vertical-align: top;
    font-family: Helvetica, sans-serif;
}

#owl {
    width: 33px;
    height: 42px;
    padding-left: 99px;
    padding-top: 24px;
}

#pic {
    height: 606px;
    width: 1520px;
    position: relative;
    display: flex;
}

#greece {
    height: 606px;
    width: 1520px;
    object-fit: cover;
    position: relative;  
}

#didi {
    font-weight: 700;
    font-size: 79px;
    position: absolute;
    z-index: 10;
    width: 625px;
    height: 91px;
    color: #FFFFFF;
    font-family: Helvetica, sans-serif;
    margin-left: 440px;
    margin-top: 238px;
}

#small {
    font-size: 19px;
    font-weight: 400;
    position: absolute;
    z-index: 10;
    width: 333px;
    height: 22px;
    font-family: Helvetica, sans-serif;
    margin-left: 590px;
    margin-top: 360px;
    color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: row;
}

#text {
    display: flex;
    flex-direction: column;
    margin-top: 84px;
    padding-left: 100px;
    width: 235px;
}

#text > h2 {
    width: 89px;
    height: 20px;
    font-weight: 400;
    font-size: 17px;
    color: #636060;
    font-family: Helvetica, sans-serif;
}

#text > h1 {
    width: 214px;
    height: 32px;
    font-weight: 400;
    font-size: 28px;
    color: #010101;
    margin-top: 9px;
    font-family: Helvetica, sans-serif;
}

#text > p {
    width: 235px;
    height: 115px;
    font-weight: 400;
    font-size: 20px;
    color: #636060;
    margin-top: 37px;
    font-family: Helvetica, sans-serif;
}

#cards {
    display: flex;
    flex-direction: row;
}

#one {
    width: 286px;
    display: flex;
    flex-direction: column;
    margin-left: 83px;
    margin-top: 84px;
}

#one img {
    width: 286px;
    height: 195px;
    object-fit: cover;
}

#one h1 {
    width: 162px;
    height: 22px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #343232;
    margin-top: 23px;
}

#one p {
    width: 286px;
    height: 63px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #636060;
    margin-top: 9px;
}



#two {
    width: 286px;
    display: flex;
    flex-direction: column;
    margin-left: 33px;
    margin-top: 84px;
}

#two img {
    width: 286px;
    height: 195px;
    object-fit: cover;
}

#two h1 {
    width: 259px;
    height: 22px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #343232;
    margin-top: 23px;
}

#two p {
    width: 286px;
    height: 63px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #636060;
    margin-top: 9px;
}



#three {
    width: 286px;
    display: flex;
    flex-direction: column;
    margin-left: 33px;
    margin-top: 84px;
}

#three img {
    width: 286px;
    height: 195px;
    object-fit: cover;
}

#three h1 {
    width: 259px;
    height: 22px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #343232;
    margin-top: 23px;
}

#three p {
    width: 286px;
    height: 63px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #636060;
    margin-top: 9px;
}




#four {
    width: 286px;
    display: flex;
    flex-direction: column;
    margin-left: 33px;
    margin-top: 452px;
}

#four img {
    width: 286px;
    height: 195px;
    object-fit: cover;
}

#four h1 {
    width: 259px;
    height: 22px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #343232;
    margin-top: 23px;
}

#four p {
    width: 286px;
    height: 63px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #636060;
    margin-top: 9px;
}

